@model IEnumerable<DataTablesMvc.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-widget forms-panel">
    <div class="forms">
        <div class="form-grids widget-shadow">
            <div class="form-title">
                <h4>Customers</h4>
            </div>
        </div>
    </div>
</div>

@*<p>
        <a href="@Url.Action("Create", "Customers")" class="btn btn-success"><span>Create New</span></a>
    </p>*@

<table id="tbCustomers" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
        </tr>
    </thead>
</table>

<div class="clearfix"></div>

<style>
    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_length {
        margin-top: 12px;
        margin-left: 50px;
        float: right;
    }
</style>

@section scripts {

    <script type="text/javascript">

        var popUp, dataTable;


        $(document).ready(function () {

            $('#tbCustomers thead tr').clone(true).appendTo('#tbCustomers thead');
            $('#tbCustomers thead tr:eq(1) th').each(function (i) {

                $(this).html('<input type=\"text\" class=\"form-control\" />');

                $('input', this).on('keyup change', function () {
                    if (dataTable.column(i).search() !== this.value) {
                        dataTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            dataTable = $("#tbCustomers").DataTable({

                destroy: true,
                orderCellsTop: true,
                fixedHeader: true,
                //bFilter: false,
                responsive: true,

                "dom": '<"top"f>rt<"bottom"ilp><"clear">',

                //"sDom": 'Rlfrtlip',

                //"oLanguage": {
                //    "sSearch": "Search all columns:"
                //},

                "ajax": {
                    "url": "/Customers/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CustomerName" },
                    { "data": "Address" },
                    { "data": "Login" },
                    { "data": "Password" },
                    { "data": "Email" },
                    { "data": "CountryID" },
                    {
                        "data": "CustomerID", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "Customers")/" + data + "')>Edit</a><a class='btn btn-info btn-sm' style='margin-left:5px' onclick=View(" + data + ")>View</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")>Delete</a>";
                        },
                    }
                ],
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Employee Details',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }

    </script>

}



